<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head") %>
  <body>
    <%- include("templates/navbar") %>
    <div class="container mt-5 overflow-auto text-center">
      <br />
      <br />
      <h1>Bienvenido a Mi Tienda</h1>
      <br />
      <br />
      <p>
        Un carrito se le asigno autom치ticamente al iniciar sesi칩n. Si desea eliminarlo podra hacerlo desde la seccion #Carrito, y crear otro desde la direcci칩n donde se encuentra. Si cierra sesi칩n, se eliminar automaticamente el carrito.
      </p>
      <br />
      <br />
      <p>
        Proceda a la seccion #Productos donde encontrara los productos
        disponibles para comprar.
      </p>
      <br />
      <br />
      <p>
        Una vez finalizada la eleccion de los productos, dirigirse a la seccion
        #Carrito donde encontrara un resumen y el boton de compra.
      </p>
      <br />
      <br />
      <p>Desde ya muchas gracias!</p>
    </div>
    <br />
    <br />
    <div class="container mt-5 d-grid gap-2">
      <form
        class="d-grid gap-2"
        onsubmit="return sendPostCarrito('/api/carritos').then(result => {alert(result.message)}).then(document.location.href='/')"
      >
        <button type="submit" class="btn btn-primary" name="crear">
          Crear carrito
        </button>
      </form>
    </div>
    <br />
    <br />
  </body>
</html>
